* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
  }
  
  nav {
    background-color: rgb(66, 126, 204);
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  section {
    padding: 20px;
    margin: 20px 0;
  }
  
  #home {
    background-color: #3d7dd1;
    text-align: center;
    color: #ffffff;
  }
  
  #portfolio .project {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(79, 147, 150, 0.1);
  }
  
  #contact form {
    display: flex;
    flex-direction: column;
  }
  
  #contact label {
    margin: 10px 0 5px;
  }
  
  #contact input, #contact textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #contact button {
    padding: 10px 15px;
    background-color: rgb(51, 76, 218);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #contact button:hover {
    background-color: #555;
  }
  
  footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
  }
 